# ===== COSMOS DB (wszędzie) =====
COSMOS_ENDPOINT=https://<your-account>.documents.azure.com:443/
COSMOS_KEY=<your-primary-key>

# ===== INNE (wszędzie) =====
AUTH_SERVICE_URL=http://host.docker.internal:3001   #jeśli używamy docker

# ===== AUTH SERVICE =====
AUTH_PORT=3001
JWT_SECRET=<generate-strong-random-secret>
JWT_REFRESH_SECRET=<generate-another-strong-random-secret>
# User email verification
EMAIL_USER=yourservice@email.com
EMAIL_PASSWORD=yourserviceMailPassword #sometimes 'App password' example: gmail

# Microsoft OAuth (opcjonalne)
MICROSOFT_CLIENT_ID=<your-azure-app-client-id>
MICROSOFT_CLIENT_SECRET=<your-azure-app-client-secret>
MICROSOFT_TENANT_ID=common
REDIRECT_URI=http://localhost:3001/auth/callback

# ===== USER SERVICE =====
USER_PORT=3002

# ===== FILES SERVICE =====
FILES_PORT=5000
STORAGE_CONN=DefaultEndpointsProtocol=https;AccountName=...;AccountKey=...;EndpointSuffix=core.windows.net
SERVICE_BUS_CONN=Endpoint=sb://...;SharedAccessKeyName=...;SharedAccessKey=...
MAX_UPLOAD_SIZE=52428800
ALLOWED_EXTENSIONS=.gcode
STRICT_CONTENT_CHECK=1

# ===== QUEUE SERVICE =====
QUEUE_PORT=4000
# (używa COSMOS i SERVICE_BUS z góry)

# ===== PRINTER SERVICE =====
PRINTER_PORT=3050
IOT_HUB_SERVICE_CS=HostName=...;SharedAccessKeyName=service;SharedAccessKey=...
IOT_HUB_EVENT_HUB_CS=Endpoint=.../;SharedAccessKeyName=iothubowner;SharedAccessKey=.../AIoTLNAMSc=;EntityPath=...
# (używa COSMOS z góry)

# ===== VIDEO SERVICE =====
CAMERA_PORT=3003
